@model IEnumerable<Usuario>

@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Id).Css("collapse");
            columns.Add(model => model.Nome).Titled("Nome").Encoded(false).RenderedAs(model => "<a href='/Painel/UsuarioEditar/" + model.Id + "'>" + model.Nome + "</a>").InitialSort(GridSortOrder.Asc);
            columns.Add(model => model.Email).Titled("E-mail");
        })
        .Css("table table-hover")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 5;
            pager.RowsPerPage = 10;
        })
        .Empty("Nenhum resultado encontrado")
)
